.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.header > div {
  display: flex;
  gap: 0.5rem;
}

.header > div > span:nth-child(2) {
  background-color: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;

  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: bold;
}

.createdTitle {
  color: var(--blue);
  font-weight: bold;
  font-size: 0.875rem;
}

.doneTitle {
  color: var(--purple);
  font-weight: bold;
  font-size: 0.875rem;
}

.listWrapper {
  margin-top: 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border-top: 1px solid var(--gray-400);

  padding: 4rem 1.5rem;
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyState p {
  margin-top: 1rem;
}
